.navbar {
  background: #0D0D0D;
  background: linear-gradient(180deg, rgb(13, 13, 13) 0%, rgb(33, 33, 33) 55%);
}
.navbar h1, .navbar .h2-animado {
  font-family: "Alumni Sans SC";
  color: #F2B705;
  cursor: default;
  user-select: none;
}
.navbar h1, .navbar .h2-animado:hover {
  animation: tada 0.5s ease-in-out;
}
.navbar .nav-link {
  font-family: "Quicksand";
  font-size: medium;
  color: #d3d2d0;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.navbar .nav-link:hover {
  color: #F2B705;
  transform: scale(1.15) rotate(2deg);
}
.navbar .navbar-toggler {
  background-color: #F2B705;
  border-radius: 22px;
}

@media (min-width: 992px) {
  #navbarNav {
    justify-content: right;
  }
}
.carousel-inner .carousel-item .imagen-optimizada {
  display: block;
  width: 100%;
  border-radius: 5px !important;
  border: 1px solid #F2B705;
  overflow: hidden;
}
.carousel-inner .carousel-item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner {
  display: flex;
  justify-content: center;
  width: 80%;
  padding-bottom: 30px;
}
.banner .banner-img {
  max-width: 600px;
  width: 90%;
  height: auto;
  border-radius: 5px;
}

.contenedor-principal {
  background: #0D0D0D;
  background: linear-gradient(0deg, rgb(13, 13, 13) 0%, rgb(33, 33, 33) 55%);
}

.intro {
  font-family: "Alumni Sans SC";
  color: #d3d2d0;
  text-align: center;
  font-size: x-large;
}
.intro h2 {
  color: #F2B705;
  font-size: xx-large;
}

.menu-app {
  display: flex;
  padding: 5px;
  margin: 10px;
  justify-content: center;
  font-size: x-small;
}
.menu-app .boton-menu, .menu-app .boton-playstore {
  background-color: rgb(36, 35, 35);
  border-radius: 5px;
  border: 1px solid #F2B705;
  margin-right: 10px;
  animation: bounce 0.7s;
}
.menu-app a {
  font-family: "Quicksand";
  font-size: medium;
  color: #d3d2d0;
  text-decoration: none;
  display: block;
}

.footer {
  background-color: black;
  font-family: "Alumni Sans SC";
  color: #F2B705;
  text-align: center;
}

h3, p {
  font-family: "Quicksand";
  color: #d3d2d0;
  text-align: center;
  font-size: smaller;
}

.end {
  font-family: "Quicksand";
  color: #F2B705;
  text-align: center;
  font-size: medium;
}
.end h2 {
  font-family: "Alumni Sans SC";
  color: #F2B705;
  text-align: center;
  font-size: xx-large !important;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "nav" "main" "footer";
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

footer {
  grid-area: footer;
}

@media (min-width: 480px) {
  body {
    grid-template-columns: 1fr;
  }
}
.contenedor-principal-home, .contenedor-principal-menulab, .contenedor-principal-nosotros, .contenedor-principal-contactanos, .contenedor-principal-postulate {
  background: #0D0D0D;
  background: linear-gradient(0deg, rgb(13, 13, 13) 0%, rgb(33, 33, 33) 55%);
}

.titulo-prebanner {
  font-size: xx-large;
}

.descripcion-prebanner {
  font-size: medium;
}

main.contenedor-principal-menulab {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
main.contenedor-principal-menulab .burguer-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  justify-items: center;
}

.card {
  background-color: black;
}

/*# sourceMappingURL=main.css.map */
