@use "variables";

.contenedor-principal{
	background: #0D0D0D;
	background: linear-gradient(0deg, rgba(13, 13, 13, 1) 0%, rgba(33, 33, 33, 1) 55%);
}

.intro{
	font-family: variables.$resaltados;
	color: variables.$color-nav-parrafos;
	text-align: center;
	font-size: x-large;

	h2{
		color: variables.$color-titulos;
		font-size: xx-large;
	}
}

.menu-app{
	display: flex;
	padding:5px;
	margin:10px;
	justify-content: center;
	font-size: x-small;
	

	.boton-menu, .boton-playstore{
		background-color: rgb(36, 35, 35);
		border-radius: variables.$grosor-bordes;
		border: variables.$estilo-borde;
		margin-right: 10px;
		animation:bounce 0.7s;
		}

	a{	
		font-family: variables.$textos;
		font-size: medium;
		color: variables.$color-nav-parrafos;
		text-decoration: none;
		display: block;
	}	
}

.footer{
	background-color: black;
	font-family: variables.$resaltados;
	color: variables.$color-titulos;
	text-align: center;
}

h3,p{
	font-family: variables.$textos;
	color: variables.$color-nav-parrafos;
	text-align: center;
	font-size: smaller;
}

.end{
	font-family: variables.$textos;
	color: variables.$color-titulos;
	text-align: center;
	font-size:medium;	
	h2{
		font-family: variables.$resaltados;
		color: variables.$color-titulos;
		text-align: center;
		font-size:xx-large !important;
	}
}

html,body{
	height: 100%;
	margin: 0;
	
}

body{
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"nav"
	"main"
	"footer";
}

nav{grid-area: nav;}

main{grid-area: main;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	width: 100%;
}

footer{
	grid-area: footer;
}

@media (min-width: 480px){
	body{
		grid-template-columns: 1fr;
	}
}